<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.instagram.com/mohd.samir707/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/samir-warsi/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/warsi0707"><i class="fa-brands fa-github"></i></a>
            <a href="https://twitter.com/Samir_warsi2001"><i class="fa-brands fa-x-twitter"></i></a>
            
            
            
        </div>
        <div class="brand">&copy; Wanderlust Private Limited</div>
    <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
    </div>
    
</footer>